
@font-face {
    font-family: "lato";
    src: 
    url("../font/lato-regular-webfont.woff")format("woff"),
    url("../font/lato-regular-webfont.woff2")format("woff2"),
    url("../font/Lato-Regular.ttf")format("truetype");
}
*{
    box-sizing: border-box;
    margin: 0;
}
html{
    text-size-adjust: 100%;

}
body{
    font-family: 'lato', Arial, sans-serif;
    font-weight: 400;
}